.App {
  text-align: center;
  background: #080808;
}

.images {
  text-align: center;
  background: #080808;
}

.imageblock {
  display: flex;
  flex-wrap: wrap;
  background: #080808;
}

.App h1 {
  color: #61dafb;
}

.App img {
  width: 40px;
  border: outset 3px gold;
  float: left;
}
